* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
  outline: 0px;
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
body {
  width: 100%;
  height: 100vh;
  background-image: url(marvin-zettl-reoc0yCf67c-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: fill;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

main {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#p-welcom {
  text-align: center;
}
.login-from {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 38vh;
  margin: 8px;
  padding: 8px;
  color: #fff5ee;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  border-radius: 32px;
  corner-shape: bevel;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 600px) {
  body {
    background-image: url(https://i.pinimg.com/736x/05/ab/15/05ab15cf5b9cb9d96de26d4df861c56b.jpg);
  }
}

.welcom-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
#label-name {
  text-align: start;
  font-style: normal;
  color: black;
  right: 32%;
  width: 80%;
}

#fname {
  width: 80%;
  background-color: #dad3d32d;
  backdrop-filter: blur(16px);
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  /* corner-shape: bevel; */
}

#label-pass {
  text-align: start;
  font-style: normal;
  color: black;
  width: 80%;
}
#pass {
  width: 100%;
  background-color: #dad3d32d;
  backdrop-filter: blur(16px);
  padding: 8px;
  margin-top: 8px;
  border-radius: 8px;
  /* corner-shape: bevel; */
}

.eye-icon {
  position: relative;
  width: 80%;
  /* display: flex;
  align-items: center;
  justify-content: start; */
}

#icon-pass {
  background: none;
  position: absolute;
  top: 13px;
  right: 4px;
}

.rember-div {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 80%;
  padding: 8px;
  margin: 8px;
}
#rember-me {
  color: #000;
}
.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #ffffff;
  width: 80%;
  text-align: center;
  padding: 8px;
  border-radius: 6px;
}
.login-button:hover {
  background-color: rgb(64, 63, 63, 0.1);
  backdrop-filter: blur(8px);
}

#lock {
  padding-left: 2px;
  height: 15px;
  width: 15px;
  filter: brightness(10) contrast(1);
}
